* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  /* width: 600px;
  height: 500px; */
  background-color: aliceblue;
  margin: 50px auto;
  /* flex-wrap: nowrap;
  flex-wrap: wrap; */
  /* flex-wrap: wrap-reverse; */
  /* column-gap: 10px;
  row-gap: 20px; */
  gap: 10px 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  width: 300px;
  height: 100px;
  flex-grow: 0;
  flex-shrink: 1;
}

.box:nth-child(1) {
  background-color: aqua;
  /* flex-grow: 3; */
  /* flex-shrink: 1; */
  /* flex-basis: 200px; */
}
.box:nth-child(2) {
  background-color: blueviolet;
  /* flex-grow: 4; */
  /* flex-shrink: 7; */
  /* flex-basis: 300px; */
}
.box:nth-child(3) {
  background-color: brown;
  /* flex-grow: 3; */
}
.box:nth-child(4) {
  background-color: burlywood;
  /* flex-grow: 4; */
  /* flex: 1;    */
}

@media (max-width: 1170px) {

}
