* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: aqua;
}
/* .navbar {
  width: 100%;
  position: fixed;
}
.list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 40px;
}
.item {
  font-size: 20px;
} */

/* .up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: yellow;
    background-color: red;
} */
/* 
.header1,
.header2,
.header3 {
  text-align: center;
  padding: 20px;
  position: sticky;
  top: 0;
}
.header1 {
  background-color: #f1c40f;
}
.header2 {
  background-color: #e74c3c;
}
.header3 {
  background-color: #3498db;
} */
/* .star {
  width: 200px;
  height: 100px;
  margin: 200px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.item::before,
.item::after {
  content: "";
  width: 70px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 48%;
  border-radius: 20px;
}
.item::after {
  right: 10px;
}
.item::before {
  left: 10px;
} */

/* .checkbox {
  width: 80px;
  height: 30px;
  background-color: slategrey;
  margin: 100px;
  border-radius: 20px;
  position: relative;
}
span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgb(65, 225, 206);
  border-radius: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}
input {
  display: none;
}
label input:checked + .checkbox {
  background-color: rgb(222, 117, 117);
}
label input:checked + .checkbox .check-btn {
  left: 55px;
  background-color: white;
} */

.card {
  width: 300px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin: 100px;
}

.image {
  width: 100%;
  height: 200px;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  color: burlywood;
}
.cardTitle {
  font-size: 30px;
}
.cardPrice {
  font-size: 20px;
  padding: 5px;
  background-color: cadetblue;
  border-radius: 5px;
  color: white;
}
.buyBtn {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: darkcyan;
  border: none;
  color: white;
}
.buyBtn:hover {
  background-color: darkslategray;
}

.heart {
  width: 30px;
  height: 30px;
  background-color: seashell;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.heart:hover {
  color: sandybrown;
}

.heart{
    position: absolute;
    top: 15px;
    right: -15px;

}


